.Day {
    color: #333;
    border-bottom: 3px solid black;
    box-sizing: border-box;
    font-size: 1.8em;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
    justify-items: stretch;
    text-align: center;
    cursor: pointer;
}

.Day:hover {
    color: whitesmoke;
}

.Alt {
    font-size: 0.9em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 3fr 4fr;
    align-items: stretch;
    justify-items: stretch;
    text-align: left;
    text-overflow: ellipsis;
}

.Empty {
    background: transparent;
    border: none;
    cursor: default;
}

.None {
    background-color: #eee;
}

.None:hover {
    background-color: #ccc;
}

.Low {   
    background-color: #3cc962;
}

.Low:hover {
    background-color: #32a852;
}

.Medium {
    background-color: #fac42f;
}

.Medium:hover {
    background-color: #d6a124;
}

.High {
    background-color: #e93b2b;
}

.High:hover {
    background-color: #c42d1f;
}

.DayNumber {
    color: black;
    opacity: 0.6;
    font-size: 0.5em;
    padding-left: 5px;
    justify-self: left;
}

.Block, .BlockTitle {
    border-bottom: 2px solid #333;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 4px;
}

.BlockTitle {
    font-weight: bold;
    color: rgba(20,20,20,0.5);
}