.Container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 2px solid black;
    background: white;
}

.Name {
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
}