.Container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 1px solid black;
    box-sizing: border-box;
    background:white;
}

.Name {
    color: #555;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
}